@using ECommerce.Core.Entities
@model IQueryable<Fruit>
@foreach (var item in Model)
{
    <div class="col-md-4 margin_top_30">
        <div class="full fr">
            <img class="img-responsive" src="~/Upload/FruitImages/@item.ImgUrl" alt="#" />
        </div>
        <div class="full text_align_center">
            <h3 class="white_font">@item.FruitName<br><strong class="theme_blue">@item.CategoryName</strong></h3>
        </div>
    </div>
}
